body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

}
.container {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}
.container form{
    margin: 0 10px;
}
h3{
    margin: 10px 0 0 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 50px 10px 0px 10px;
    background-color: #BDE8F5;
    border-radius: 8px;
    min-height: 40rem;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 20px;
    gap: 10px;
}
.menu a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.menu a {
    width: 100%;
}

.menu-btn {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    border: none;
    background-color: #F5F2F2;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-btn:hover {
    background-color: #1C4D8D;
    color: white;
}
.menu-btn.active {
    background-color: #1C4D8D;
    color: white;
}

.content h2 {
    text-align: center;
}
.two-columns-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 12px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    cursor: not-allowed;
}
input[readonly], textarea[readonly] {
    background-color: #e9ecef;
}
.btn {
    margin-bottom: 4px;
    padding: 6px 12px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.btn-add{
    background-color: #d8dfe7;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
.btn-add:hover {
    background-color: #023e8a;
    color: white;

}
textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #0077b6;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    resize: vertical;
}
textarea:focus{
    outline: none;
    border-color: #023e8a;
}

